# Xcode (from gitignore.io)
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Others
*.swp
!.gitkeep
.DS_Store

# CocoaPods
/01_RxSwiftAndUiExample/RxSwiftAndUiExample/Pods/*
/02_MiniMoviePlayerExample/MiniMoviePlayerExample/Pods/*
/03_SlidableTabScrollMediaExample/SlidableTabScrollMediaExample/Pods/*
/04_MiniSwiftUIAppExample/MiniSwiftUIAppExample/Pods/*

# Server
/01_RxSwiftAndUiExample/server_mock/node_modules/
/02_MiniMoviePlayerExample/server_mock/node_modules/
/03_SlidableTabScrollMediaExample/server_mock/node_modules/
/04_MiniSwiftUIAppExample/server_mock/node_modules/
